<header class="header-section">
  <div class="logo">
    <img src="http://sapuru.soy/img/aymara-samudio.png" alt=""><!-- Logo -->
  </div>
  <!-- Navigation -->
  <div class="responsive"><i class="fa fa-bars"></i></div>
  <nav>
    <ul class="menu-list">
      <li><a href="http://sapuru.soy">Inicio</a></li>
      <li><a href="http://sapuru.soy/acerca-de.html">Acerca de</a></li>
      <li><a href="http://sapuru.soy/trabajo.html">Trabajo</a></li>
      <li class="active"><a href="http://blog.sapuru.soy">Blog</a></li>
      <li><a href="http://sapuru.soy/contacto.html">Contacto</a></li>
    </ul>
  </nav>
</header>
