{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}
<div class="sidebar-content spad">
	<div class="widget-item">
{% if config.plugins.simplesearch.enabled %}
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>
{% endif %}
<div class="widget-item">
	<img src="../../images/ay2.png">
</div>
<div class="widget-item">
	<h2 class="widget-title">Hola!</h2>
<p>Mi nombre es Aymará Samudio, actualmente soy CTO de <a href="http://greendemia.com">Greendemia</a> y Directora de <a href="http://greendemia.academy">Greendemia Academy</a>. En este blog comparto mis experiencias sobre formación y mentoría en tecnología. Suscribite para no perderte el contenido.</p>
</div>

{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
					<div class="widget-item">
						<h2 class="widget-title">Relacionado</h2>
    {% include 'partials/relatedpages.html.twig' %}
{% endif %}
</div>
{% if config.plugins.random.enabled %}
					<div class="widget-item">
						<h2 class="widget-title">Random Article</h2>
    <a class="button" href="{{ base_url_relative }}/random"><i class="fa fa-retweet"></i> I'm Feeling Lucky!</a>
</div>
{% endif %}

{% if config.plugins.taxonomylist.enabled %}
					<div class="widget-item">
						<h2 class="widget-title">Tags</h2>
    {% include 'partials/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'tag'} %}
</div>
{% endif %}


{% if config.plugins.archives.enabled %}
					<div class="widget-item">
						<h2 class="widget-title">Archivo</h2>
	{% include 'partials/archives.html.twig' with {'base_url':new_base_url} %}
</div>
{% endif %}
{% if config.plugins.feed.enabled %}
					<div class="widget-item">
						<h2 class="widget-title">RSS</h2>
    <div class="btn-group">
        <a class="btn btn-warning" href="{{ feed_url }}.atom"><i class="fa fa-rss-square"></i> Atom 1.0</a>
        <a class="btn btn-warning" href="{{ feed_url }}.rss"><i class="fa fa-rss-square"></i> RSS</a>
    </div>
</div>
{% endif %}
</div>
