{% set taxlist = taxonomylist.get() %}

{% if taxlist %}

<ul class="tag">
    {% for tax,value in taxlist[taxonomy] %}

        <li><a class="" href="{{ base_url }}/tag:{{ tax }}">{{ tax }}</a></li>

    {% endfor %}
</ul>
{% endif %}
